* {
    box-sizing: border-box
}

.navmain{
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    background-color: #f8f9fa;
}

.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: left;
}

.map {
    grid-area: right;
}

body {
    background-color: #B7B597;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #254336;
    display: flex;
    justify-content: right;
    align-content: center;
    grid-area: footer;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-reddit {
    background-color: orangered;
    color: white;
}

.fa-instagram {
    background-color: purple;
    color: white;
}

.form{
    background-color: #f7f7f7;
    height: 310px;
    grid-area: form;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left left right right right'
    'form form form form form form';;
}